name: "[Audit]"
    
on:
  pull_request:
    branches: 
      - 'main' #Only audits merges into main
    types: [closed]

jobs:
  audit_test:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true


    permissions: 
      contents: read
      pull-requests: read
    
    steps:
      - name: "[Check Approval Count]"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUM: ${{ github.event.pull_request.number }}
          REPO: ${{ github.repository }}
        run: |
          echo "Checking reviews for PR #$PR_NUM in $REPO"
          #  Get count of reviews
          COUNT=$(gh api repos/$REPO/pulls/$PR_NUM/reviews --jq '[.[] | select(.state=="APPROVED")] | length')

          echo "Found $COUNT approvals."

          # If function for reviews
          if [ "$COUNT" -eq 0]; then
            echo "::error::Warning, No PR approvals."
            exit 1
          else
            echo "Verified merge request"
            exit 0
          fi






